{:deps true ;; Read Clojure deps from deps.edn - no duplication
 :builds
 {:app
  {:target :browser
   :output-dir "resources/public/js/compiled"
   :asset-path "/js/compiled"

   :modules
   {:main {:init-fn clj-enterprises.bowling-score/init}}

   :devtools
   {:http-root "resources/public"
    :http-port 8080
    :after-load clj-enterprises.bowling-score/on-js-reload}}}}
